.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
        url("https://img.freepik.com/free-vector/clients-assistance-call-center-hotline-operator-consultant-manager-customer-care-seamless-personalized-service-customer-experience-concept_335657-100.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1705104000&semt=ais")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 60px;
        margin-top: 180px;
        line-height: 70px;
        text-shadow: -1px -1px 1px #fff, 0px 1px 0 #434242, 0px 2px 0 #4d4d4d;
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 5px;
        border: none;
        background-color: white;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 14px 2px;
        transition: all 0.5s ease;
        font-size: 16px; 
      }
      
      button:active {
        transform: translateY(3px);
        box-shadow: none;
      }
      
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #a1a1a1;
        text-shadow: -1px -1px 1px #fff, 0px 1px 0 #2e2e2e;
          cursor: pointer;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 5px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          border-radius: 20px;
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 14px 2px;
          transition: all 0.5s ease;
          font-size: 16px; 
        }
        button:active {
          transform: translateY(3px);
          box-shadow: none;
        }
      }
    }
  }
}
